:root{
    --primario: #5577D4 ;
    --secundario: #BF1A2F;  
}

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type:none;
}

body{
    background: var(--primario);
    overflow-x: hidden;
    font-family: "Josefin Regular";
}
input,textarea{
    background: rgba(255,255,255,0.30);
    padding: 10px 16px;
    border-radius: 5px;
    border: 2px soliod #9893D8;
    color: #f2f2f2;
}

@font-face{
    font-family: "Josefin Regular";
    src: url(/imagenes/fonts/JosefinSans-Regular.ttf);
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.site-nav{
    margin: 0 20px;
}

.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--secundario);
}
#contacto{
    padding: 30px 20px 20px 20px;    
    background: url(/imagenes/trianglesbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 15px;
}

#contacto h3, #contacto p{
    text-align: center;
    margin-bottom: 15px;
}
#contacto form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
#contacto input, #contacto textarea{
    width: 100%;
    margin: 10px 0;
    }
.button{
    margin-top: 15px;
    background: none;
    border: 2px solid var(--secundario);
    color: var(--secundario);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block; 
}

.button:hover{
    color: #222;
    background: var(--secundario);
}
h1,h3{
    color: #DDDBFF;
    font-weight: normal;
}

p,a,li{
    color: #0c0464;
}
h1,h3{
    font-size: 1.2em;
}
.textocontacto{
    font-size: 1.1em;
}

footer{
    padding: 30px 20px;
    background-color: darkblue;
    background-image: url(/imagenes/bluewave.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
}
footer .copyright{
    font-size: 1em;
    color: rgb(116, 68, 165);
    text-shadow: rgba(0,0,0,0.6);
    
}
footer .redes{
    display: flex;
    justify-content: flex-end;

}
footer li{
    margin: 10px 10px 10px 30px;
    
}
footer img{
    width: 20px;
}



@media screen and (min-width: 620px) {
    .site-nav{
        padding: 0 20px;
    }
    .site-nav h1{
        grid-column: 1/3;
    }
    .site-nav ul{
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
    }
    .site-nav li{
        margin-left: 20px;
    }

}
@media screen and (min-width: 960px) {
    body{
        font-size: 18px;
    }
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .principal{
        margin: 20px 20px;
    }
    .site-nav{
        padding: 0 20px;
    }
    .site-nav h1{
        grid-column: 1/3;
    }
    .site-nav ul{
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
    }
    .site-nav li{
        margin-left: 20px;
}
footer{
    padding: 40px 20px;
}
}




@media screen and (min-width: 1200px) {
    body{
        font-size: 20px;
    }
    footer{
        padding: 40px 20px;
    }
     
}